 <!-- COUNTRY STATE CITY COMPONENT -->
<ng-container [formGroup]="form">
    <div class="row mb-2">
        <!-- COUNTRY INPUT -->
        <div class="col-4">
            <label>Country<span class="text-danger">*</span></label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="fa-solid fa-earth-americas"></i>
                </div>
                <select class="form-select" formControlName="country" (change)="getState()"
                    aria-label="Default select example">
                    <option selected value=null>Open this select menu</option>
                    <option *ngFor="let country of countryList" value={{country.country_name}}>
                        {{country.country_name}}</option>
                </select>
            </div>
            <div class="help-block justify-content-between"
                *ngIf="!form.get('country')?.valid && form.get('country')?.touched">
                <p class="fs-6">Required*</p>
            </div>
        </div>

        <!-- STATE INPUT -->
        <div class="col-4">
            <label>State<span class="text-danger">*</span></label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="fa-sharp fa-solid fa-chart-area"></i>
                </div>
                <select class="form-select" formControlName="state" (change)="getCity()"
                    aria-label="Default select example">
                    <option selected value=null>Open this select menu</option>
                    <option *ngFor="let state of stateList" value={{state.state_name}}>{{state.state_name}}
                    </option>
                </select>
            </div>
            <div class="help-block justify-content-between"
                *ngIf="!form.get('state')?.valid && form.get('state')?.touched">
                <p class="fs-6">Required*</p>
            </div>
        </div>

        <!-- CITY INPUT -->
        <div class="col-4">
            <label>City<span class="text-danger">*</span></label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="fa-solid fa-city"></i>
                </div>
                <select class="form-select" formControlName="city" aria-label="Default select example">
                    <option selected value=null>Open this select menu</option>
                    <option *ngFor="let city of cityList" value={{city.city_name}}>{{city.city_name}}
                    </option>
                </select>
            </div>
            <div class="help-block justify-content-between"
                *ngIf="!form.get('city')?.valid && form.get('city')?.touched">
                <p class="fs-6">Required*</p>
            </div>
        </div>
    </div>
</ng-container>