<div class="container mt-5">
  <h3 class="text-center">Registerd Users</h3>
    <div class="row list ">
        <div class="col-10 mt-3">
            <table class="table table-hover table-responsive-lg table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">
                     <input type="text" class="search—field" placeholder="Search by Name" name="" id="" [(ngModel)]="searchByName" >Name</th>
                    <th scope="col">
                      <input type="text" name="" id="">DOB</th>
                    <th scope="col">
                      <input type="text" name="" id="" [(ngModel)]="searchByEmail" >Email</th>
                    <th scope="col">
                      <input type="text" name="" id="">Phone</th>
                    <th scope="col">
                      <input type="text" name="" id="">Country</th>
                    <th scope="col">
                      <input type="text" name="" id="">State</th>
                    <th scope="col">
                      <input type="text" name="" id="">City</th>
                      <th scope="col">
                        <input type="text" name="" id="">Address</th>
                        <th>
                          <input type="text" name="" id="">Skills</th>
                    <th scope="col">
                      <input type="text" name="" id="">Qualification</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let user of usersData | searchFilter:searchByName;let i = index ">
                    <td scope="col">{{i+1}}</td>
                    <td scope="col"><a (click)="navigateWithState(user.id)">{{user.name}}</a></td>
                    <td scope="col">{{user.dob}}</td>
                    <td scope="col">{{user.email}}</td>
                    <td scope="col">{{user.phone}}</td>
                    <td scope="col">{{user.location.country}}</td>
                    <td scope="col">{{user.location.state}}</td>
                    <td scope="col">{{user.location.city}}</td>
                    <td scope="col">{{user.address}}</td>
                    <td scope="col">
                      <ul class="list-group">
                        <li class="list-group-item list-group-flush" *ngFor="let skill of user.skills">{{skill.itemName}}</li>
                      </ul>                    
                    </td>
                    <td scope="col">{{user.qualification}}</td>
                    <td scope="col">{{user.pincode}}</td>
                    <td scope="col">{{user.gender}}</td>
                    <td scope="col">{{user.martialStatus}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
