.register{
    background: #ffffffe3;
    box-shadow: 0 0 9px 0px;
    border-radius: 5px;
    padding: 10px 15px;
    width: fit-content;
    display: flex;
    
    margin: auto;
    justify-content: center;
}
input.ng-invalid.ng-touched{
    border:1px solid red;
}
.cover{
    position: absolute;
    left: 0px;
    height: 25px;
    width: 90px;
}