<div class="container margin-auto">
    <div class="row d-flex flex-column pt-5">
        <h3 class="text-center">Candidate Registration</h3>
        <div class="col-10 register">
            <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
                <div class="row mb-2">
                    <div class="col-6">
                        <label>Name<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" />
                        </div>
                        <div class="help-block justify-content-between" 
                        *ngIf="!registrationForm.get('name')?.valid && registrationForm.get('name')?.touched"><p>Invalid Name</p></div>
                    </div>
                    <div class="col-6">
                        <label>Dob<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-calendar"></i>
                            </div>
                            <input type="date" formControlName="dob" class="form-control" placeholder="Enter Dob" />
                        </div>
                        <div class="help-block justify-content-between" 
                        *ngIf="!registrationForm.get('dob')?.valid && registrationForm.get('dob')?.touched"><p>Enter Date</p></div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label>Email<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <input type="email" formControlName="email" class="form-control"
                                placeholder="Enter Email" />
                        </div>
                        <div class="help-block justify-content-between" 
                        *ngIf="!registrationForm.get('email')?.valid && registrationForm.get('email')?.touched"><p>Invalid Email</p></div>
                    </div>
                    <div class="col-6">
                        <label>Phone<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-mobile-screen-button"></i>
                            </div>
                            <input type="tel" formControlName="phone" class="form-control" placeholder="Enter Phone"
                                maxlength="10" />
                        </div>
                        <div class="help-block justify-content-between" 
                        *ngIf="!registrationForm.get('phone')?.valid && registrationForm.get('phone')?.touched"><p>Invalid Phone</p></div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <label><i class="fa-solid fa-location-dot me-1"></i>Address</label>
                        <div class="input-group">
                            <textarea class="form-control col-12" formControlName="address"
                                placeholder="Enter Address here" id="address"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-2" formGroupName="location">
                    <div class="col-4">
                        <label>Country<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-earth-americas"></i>
                            </div>
                            <select class="form-select" formControlName="country" (change)="getState()" aria-label="Default select example">
                                <option selected value=null>Open this select menu</option>
                                <option *ngFor="let country of countryList" value={{country.country_name}}>{{country.country_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>State<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-sharp fa-solid fa-chart-area"></i>
                            </div>
                            <select class="form-select" formControlName="state" (change)="getCity()"  aria-label="Default select example">
                                <option selected value=null>Open this select menu</option>
                                <option *ngFor="let state of stateList" value={{state.state_name}}>{{state.state_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <label>City<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-city"></i>
                            </div>
                            <select class="form-select"  formControlName="city" aria-label="Default select example">
                                <option selected value=null>Open this select menu</option>
                                <option *ngFor="let city of cityList" value={{city.city_name}}>{{city.city_name}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Qualification<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-school"></i>
                            </div>
                            <select class="form-select" formControlName="qualification"
                                aria-label="Default select example">
                                <option selected value=null>Open this select menu</option>
                                <option value={{qualification}} *ngFor="let qualification of qualifications">
                                    {{qualification}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <label>Pincode<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                            <input type="text" formControlName="pincode" class="form-control"
                                placeholder="Enter Pincode" maxlength="6" />
                        </div>
                        <div class="help-block justify-content-between" 
                        *ngIf="!registrationForm.get('pincode')?.valid && registrationForm.get('pincode')?.touched"><p>Invalid pincode</p></div>
                    </div>
                    <div class="col-4">
                        <label>Gender<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa-solid fa-person-half-dress"></i>
                            </div>
                            <select class="form-select" formControlName="gender" aria-label="Default select example">
                                <option selected value=null>Open this select menu</option>
                                <option value={{gender}} *ngFor="let gender of genders">{{gender}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <label><i class="fa-solid fa-microchip me-1"></i>Technical Skills<span
                                class="text-danger">*</span></label>
                        <div class="input-group justify-content-around">
                            <div class="form-check" *ngFor="let skill of techSkills" formArrayName="skills">
                                <input class="form-check-input" type="checkbox" (click)="addSkill($event)" value={{skill}}>
                                <label class="form-check-label" for="skill">
                                    {{skill}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" >
                        <label>Confirmation<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="form-check" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                <input class="form-check-input" id="agree" formControlName="agree" type="checkbox"
                                     [value]="agree">
                                <label class="form-check-label" for="flexCheckDefault">
                                    I Agree <i class="fa-regular fa-circle-check"></i>.
                                </label>
                                <span class="cover" (click)="openModal()"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spinner-border float-start ms-3 mt-4 mb-2" *ngIf="isLoading" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                <button *ngIf="!isLoading" [disabled]="!registrationForm.valid" type="submit" class="float-left px-4 mt-4 mb-2 btn btn-primary">Register</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you agree that the information provided is correct and verified from respective
                                institutions.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">No</button>
                                <button type="button" class="btn btn-primary" (click)="agree()">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>