/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(59deg, rgb(230, 98, 65), rgb(99, 150, 253));
    height: 100vh;
    margin-bottom: 5em
}